@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Inter, sans-serif;
}

:root {
    font-size: 62.5%;

    --color-1: #1f2937;
    --color-2: #e5e7eb;
    --color-3: #f9faf8;
    --color-4: #3882f6;
}

/* body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: ;
} */

.header-container,
.hero-container,
.info-container,
.quote-container,
.call-to-action-container {
    width: 900px;
    min-width: 500px;
}

.header {
    color: var(--color-3);
    background-color: var(--color-1);
    padding: 1.6rem;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > h1 {
    font-size: 2.4rem;
}

.links > ul {
    font-size: 1.6rem;
    list-style-type: none;
    display: flex;
    gap: 1.6rem;
}

.links > ul a {
    text-decoration: none;
    color: var(--color-3);
}

.hero {
    color: var(--color-3);
    background-color: var(--color-1);
    padding: 1.6rem;

    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.hero-container > img {
    height: 25rem;
    width: auto;
    object-fit: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero-content > h2 {
    font-size: 4.8rem;
    font-weight: 900;
}

.hero-content > p {
    color: var(--color-2);
    font-size: 1.8rem;
}

button {
    color: var(--color-2);
    padding: 0.3rem 1.6rem;
    background-color: var(--color-4);
    border-radius: 0.5rem;
    font-weight: 500;
}

button.default {
    border: none;
}

button.alter {
    border: 2px solid var(--color-2);
}

.hero-container > img {
    min-width: 50%;
}

.info {
    padding: 1.6rem;
    display: flex;
    justify-content: center;
}

.info-container > h2 {
    color: var(--color-1);
    font-size: 3.6rem;
    font-weight: 900;
    text-align: center;
} 

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.5rem 0;
    gap: 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}

.card > img {
    border: 3px solid var(--color-4);
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;

    object-fit: cover;
}

.card > p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.quote {
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 10rem 5rem;
}

blockquote > p {
    font-style: italic;
    font-size: 3.6rem;
    font-weight: 300;
}

.quote cite {
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 600;
    align-self: self-end;
}

.call-to-action {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-container {
    background-color: var(--color-4);
    padding: 3rem 8rem;
    margin: 5rem 0;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action-content {
    font-size: 1.6rem;
    color: var(--color-2);
}

.call-to-action-content::first-line {
    font-weight: 700;
}

footer {
    font-size: 1.6rem;
    background-color: var(--color-1);
    color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;

}


@media (max-width: 767.98px){
    .hero-container {
        flex-direction: column;
    }

    .hero-container > img {
        width: 100%;
        object-fit: cover;
    }

    .cards-container {
        
        flex-direction: column;
        align-items: self-start;
        justify-content: space-between;
    }

    .card {
        width: 100%;
        gap: 1rem;
    }

    .card > img {
        border: none;
        border-radius: 0;
        width: 100%;
    }


}

