@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Inter, sans-serif;
}

:root {
    font-size: 62.5%;

    --color-1: #1f2937;
    --color-2: #e5e7eb;
    --color-3: #f9faf8;
    --color-4: #3882f6;
}

.header {
    color: var(--color-3);
    background-color: var(--color-1);
    padding: 1.6rem;
    display: flex;
    justify-content: center;
}

.header-container {
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > h1 {
    font-size: 2.4rem;
}

.links > ul {
    font-size: 1.6rem;
    list-style-type: none;
    display: flex;
    gap: 1.6rem;
}

.links > ul a {
    text-decoration: none;
    color: var(--color-3);
}