@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Inter, sans-serif;
    /* transition: 1s; */
}

:root {
    font-size: 62.5%;

    --color-1: #1f2937;
    --color-2: #e5e7eb;
    --color-3: #f9faf8;
    --color-4: #3882f6;
}

/* Buttons */

button {
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
}

button.default {
    background-color: var(--color-4);
    color: var(--color-2);
    font-weight: bold;
    border: 2px solid var(--color-4);
}

button.alter {
    background-color: var(--color-4);
    color: var(--color-2);
    font-weight: bold;
    border: 2px solid var(--color-2);
}

/* Header */

#header {
    background-color: var(--color-1);
    color: var(--color-3);
    font-size: 2.4rem;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    max-width: 100rem;
    margin: auto;
}

#header-container > h1 {
    flex: 1;
}

.links {
    flex: 1;
    font-size: 1.8rem;
}

.links > ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.links a {
    color: var(--color-2);
    text-decoration: none;
}

.links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Main */

/* Main - Hero */

#hero {
    background-color: var(--color-1);
}

#hero-container {
    max-width: 100rem;
    margin: auto;
    padding: 10rem 1rem;
    display: flex;
    gap: 1rem;
}

#hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#hero-content > h2 {
    color: var(--color-3);
    font-weight: 900;
    font-size: 4.8rem;
}

#hero-content > p {
    color: var(--color-2);
    font-size: 1.8rem;
}

#hero-container > img {
    flex: 1;
    height: 25rem;
    object-fit: cover;
}

/* Main - Info */

#info-container {
    max-width: 100rem;
    margin: auto;
    padding: 5rem 1rem;
}

#info-container > h2 {
    color: var(--color-1);
    font-weight: 900;
    font-size: 3.6rem;
    margin: 2rem;
    text-align: center;
}

.cards-container {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.card {
    font-size: 1.6rem;
    width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card > img {
    border: 2px solid var(--color-4);
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

/* Main - Quote */

#quote {
    background-color: var(--color-2);
}

#quote-container {
    max-width: 80rem;
    margin: auto;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
}

blockquote {
    color: var(--color-1);
    font-size: 3.6rem;
    font-weight: 200;
    font-style: italic;
}

cite {
    font-size: 1.6rem;
    font-weight: bold;
    align-self: flex-end;
}

/* Main - Call to action */

#call-to-action {
    padding: 10rem 1rem;
}

#call-to-action-container {
    background-color: var(--color-4);
    max-width: 100rem;
    border-radius: 0.5rem;
    margin: auto;
    padding: 3rem 10rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#call-to-action-content {
    font-size: 1.6rem;
    color: var(--color-2);
}

#call-to-action-content p:first-child {
    font-weight: bold;
}

/* Footer */

#footer {
    background-color: var(--color-1);
    color: var(--color-2);
    font-size: 1.6rem;
    text-align: center;
    padding: 3rem;
}

@media (max-width: 767.98px) {
    #page-container {
        height: auto;
    }
}
